{% extends "@ezdesign/layout.html.twig" %}

{% trans_default_domain 'messages' %}

{% block body_class %}ez-info-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans|desc('Admin') },
        { value: 'adminui.migration.menu.label'|trans|desc('Migration state') }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@ezdesign/parts/page_title.html.twig' with {
        title: 'adminui.migration.menu.label'|trans|desc('Migration state'),
        iconName: 'information'
    } %}
{% endblock %}

{% block content %}
    {# Using eZ's boostrap table template #}
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                {# Header#}
                <div class="ez-table-header">
                    <div class="ez-table-header__headline">{{ 'adminui.migration.list.label'|trans|desc("Migration list") }}</div>
                </div>
                {# Proper table #}
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ "adminui.migration.list.columns.name"|trans|desc("Name") }}</th>
                        <th>{{ "adminui.migration.list.columns.date"|trans|desc("Date") }}</th>
                        <th class="text-center">{{ "adminui.migration.list.columns.status"|trans|desc("Status") }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# Getting migration list items and showing name, status and date #}
                    {% for migrationItem in migrationList %}
                        <tr>
                            <td data-tooltip="tooltip" title="{{ migrationItem.path }}">{{ migrationItem.name }}</td>
                            <td>{{ migrationItem.executionDate|localizeddate }}</td>
                            <td class="text-center py-3">
                                <span class="alert alert-{{ migrationItem.verbose.type }}">
                                    {{ migrationItem.verbose.message }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {# Using bootstrap tooltip to display absolute path on name hover #}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
